<pre>
<h3>站內推薦Demo頁</h3>
這是站內推薦商品/內容的展示說明

點開下面的連結後，會模擬你上了該網站，亂數給你一個使用者ID和一件「你正在瀏覽的商品」。
你可以從下面的推薦商品中選擇你有興趣的商品，你瀏覽過的最新10件商品會紀錄在「過去瀏覽的商品」欄。

<h3><a href="/mamibuy/suggest" target="_blank">Mamibuy推薦商品Demo頁</a></h3>

而下方則會出現由各種演算法算出的「推荐給你的商品」。
第1種<b>「和此商品相似的商品和」</b>和第2種<b>「對此商品感興趣的人，也喜歡下列商品」</b>適合擺在你的商品頁面。
第3種<b>「專為你而推荐的商品」</b>和第4種<b>「和你相似的人也有興趣的商品」</b>則適合擺在首頁或其他非單一產品的頁面。
第5種是<b>「綜合推荐」</b>：即選出後面四種演算法結果中最熱門的商品。
歡迎幫我們玩一玩，看看你覺得這些推薦準不準，然後給我們建議：)

如果您也想試試看我們的服務，更歡迎你聯絡我們：
<a href="mailto:marsan@gmail.com?Subject=I%20need%20recommend%20widget%20!" target="_blank"><b>marsan@gmail.com</b></a>
或是上Facebook找<a href="http://www.facebook.com/marsan.mars" target="_blank"><b>Marsan Ma</b></a>

期待能為您服務，謝謝^^！

</pre>
