<pre>

<b>0. 這服務是做啥的？</b>
   幫你把你的網站加上像Amazon一樣屌的<b>精準到嚇死你的推荐功能</b>。
   讓上你的網站的使用者，在你的網站上流連忘返、樂不思蜀、
   流量和點閱率結結高昇直到伺服器爆炸...

<b>1. 所以...要怎麼做到？</b>
   我們紀錄你的User在你的網站的活動細節，把你的使用者和商品/內容頁面，依據內容和使用者行為分析歸類，
   讓你能做到上述的客製化服務，像是推荐他最可能想要的商品、內容等等。
   我們分析的資料著重在<b>「每個使用者各自的側寫」</b>，而非「網站整體報表」。

<hr>
<b>2. 我該如何使用在我的網站上？</b>
   a. 在你想要追蹤的頁面(商品頁、內容頁等)加上這一行即可：
   <textarea cols=140 rows=2 disabled><script src="http://api.expertdojo.com/javascript/main.js" ></script></textarea>
   b. 將頁面的標題用一個id為pvtitle的span包起來，例如：
   <textarea cols=140 rows=2 disabled><span id="pvtitle">這是頁面標題</span></textarea>
   c. 同樣的，將代表這個頁面的圖用一個id為pvtitle的span包起來，例如：
   <textarea cols=140 rows=2 disabled><span id="pvthumb"><img src="http://mysite.com/pic.jpg"></span></textarea>
   其中步驟的2和3將會指定未來你的推荐欄中，該頁面的標題和縮圖。

   大功告成！這樣就可以了！
   你可以到http://api.expertdojo.com/probe/<你的domain name(*註1)>
   看看你的流量是不是開始被紀錄了！

<b>3. 開始推荐服務</b>
   你可以先到http://api.expertdojo.com/api/test/<你的domain name> 
   玩玩看你的推荐效果如何，如果覺得滿意了，
   你可以在你的網站商品/內容頁加上下面這行，這行所在的位置就會變出你的推荐商品了！
   <textarea cols=140 rows=2 disabled><div id=recommend_region func="11111"></div></textarea>

   <h3>你可以到<a href="/demo/mamibuy">這個頁面</a>來玩玩看實際的效果</h3>

<hr>
<b>4. 所以你要蒐集一大票個資？那不是很危險嗎？</b>
   我們不紀錄任何能直接辨識使用者的「個人資料」(姓名、Email、IP、等等)
   因此能幫助你在完全符合個資法的規定下，分析使用者的喜好，提供更好的服務內容。
  
   我們將使用者的資料以一把只藏在使用者端的金鑰加密，並以這把金鑰連結你的網站和我們的資料庫。
   這把金鑰連我們自己都不紀錄，即使駭客破解了資料庫，他得到的只是無法辨認使用者的加密資料，
   
   使用者也能在任何時候銷毀自己手上現有的金鑰，銷毀舊金鑰後，他過去的紀錄將會再也無人能復原。
   而我們則只會給丟棄舊金鑰的使用者一把新的金鑰，並重新開始學習他的喜好。

   最棒的是，上面這些保護使用者個資的策略，不會改變任何使用者上你的網站的體驗！
   使用者不需做任何動作，而你只要將你的網站加入上述步驟那一行script即可！

<b>Z. 我還有其他問題...</b>
   上facebook丟我(Marsan Ma)訊息吧，這是最快的！
   其他陸陸續續的說明或問題解答、更新履歷等，都會在這一頁！


(註1)：例如你的網址是http://www.mysite.com 則你的domain name即為mysite

</pre>

